<form class="example-form m-5"  [formGroup]='userForm' >

  <div class="form-group d-flex justify-content-center"> <mat-form-field class="w-50">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Ex. Joe"  formControlName="firstName" >
    <mat-error *ngIf="firstName.invalid">enter first name</mat-error>
  </mat-form-field></div>
  <div class="form-group  d-flex justify-content-center"> <mat-form-field class="w-50">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Ex. Apte"  formControlName="lastName">    <mat-error *ngIf="lastName.invalid">enter last name</mat-error>

  </mat-form-field></div>
  <div class="form-group d-flex justify-content-center"> <mat-form-field class="w-50">
    <mat-label>Username</mat-label>
    <input matInput placeholder="username"  formControlName="userName">
    <mat-error *ngIf="userName.invalid">enter username</mat-error>
  </mat-form-field></div>
  <div class="form-group  d-flex justify-content-center"> <mat-form-field class="w-50">
    <mat-label>Email</mat-label>
    <input  type="email"  formControlName="email" checkEmail matInput placeholder="Ex. sam@gmail.com" (blur)="checkEmail($event)" >
    <mat-error *ngIf="email.invalid && email.touched">
    <mat-error *ngIf="email.errors.required">enter email ID</mat-error>
    <mat-error *ngIf="email.errors?.taken">email ID taken. please choose another email.</mat-error>
    <mat-error *ngIf="email.errors?.email">please use a valid email ID.</mat-error>

  </mat-error>

  </mat-form-field></div>
  <div class="form-group  d-flex justify-content-center"> <mat-form-field class="w-50">
    <mat-label>Phone Number</mat-label>
    <input  matInput placeholder="9999999999" formControlName="mobileNo" >
    <mat-error *ngIf="mobileNo.invalid && mobileNo.touched">
      <mat-error *ngIf="mobileNo.errors.required">enter mobile no.</mat-error>
      <mat-error *ngIf="mobileNo.errors.pattern">invalid mobile number.</mat-error>
  
     </mat-error>
  </mat-form-field></div>
  <div class="form-group  d-flex justify-content-center"> <mat-form-field class="w-50">
    <input matInput placeholder="Password"  formControlName="password" [type]="hide ? 'password' : 'text'" formControlName="password" >
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
   <mat-error *ngIf="password.invalid && password.touched">
    <mat-error *ngIf="password.errors.required">enter password</mat-error>
    <mat-error *ngIf="password.errors.minlength">password  must be bigger</mat-error>

   </mat-error>
    
    <mat-hint align="end" aria-live="polite">
      {{password.value.length}} / <b>20</b>
      </mat-hint>
      
  </mat-form-field></div>
  <div class="form-group  d-flex justify-content-center">
  <button mat-button class=" mx-auto btn btn-secondary" [disabled]="!userForm.valid" (click)='saveUser()'>Register</button>
  </div>
</form>
